.fn     { color: var(--green); }
.paren  { color: var(--fg3); }
.brace  { color: var(--fg3); }
.indent { white-space: pre; }
.var    { color: var(--blue); }
.string { color: var(--green); }
.shebang{ color: var(--fg4); }
.comment{ color: var(--fg4); font-style: italic; }
.link   { color: inherit; text-decoration: none; }
.link:hover { text-decoration: underline; color: var(--yellow); }
