.file {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.date {
  color: var(--fg4);
}

.company {
  color: var(--yellow);
}

.role {
  color: var(--fg1);
}

.bullet {
  color: var(--fg2);
  padding-left: 2ch;
}

/* Add to each buffer's .module.css */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
